* {
  font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

/*ESTILOS DE LA NAV*/

.header-main {
  position: sticky;
  top: 0;

  background-color: rgb(34, 33, 33);
  height: 3.4rem;
  padding: 0.6rem;

  margin-left: auto;
  margin-right: auto;

  z-index: 9999;
}

.header-main > nav {
  display: inline-block;
  position: relative;
  width: 36vw;
  margin-left: 20.8vw;
}

.header-main a {
  display: inline-block;
  height: 2.2rem;
  padding: 0.2rem;

  color: darkorange;
  border-radius: 2%;

  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

.header-main span {
  position: relative;
}

.logo > a {
  width: 10rem;
  margin-left: 2.6vw;
}

.header-main > nav > a {
  margin-right: 2rem;
}

.header-main > nav > a:nth-child(1) {
  width: 5rem;
}

.header-main > nav > a:nth-child(2) {
  width: 9rem;
}

.header-main > nav > a:nth-child(3) {
  width: 3rem;
}

.ingresar > a {
  width: 7rem;
  margin-left: 13vw;
}

h1 {
  position: relative;

  top: 10rem;
  color: white;

  font-size: 4rem;
  font-weight: bold;
  text-align: center;

  z-index: 999;
}

h1:hover {
  color: darkorange;
}

.img-fondo > img {
  position: relative;
  top: -18rem;
  width: 98.79vw;
  height: 41.1rem;
  z-index: 99;
}

/*ESTILOS DEL MAIN*/

main {
  position: relative;
  top: -14rem;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-article {
  display: inline-block;
  box-sizing: content-box;
  position: relative;

  width: 15.8vw;
  height: 26.5rem;
  padding: 1.5rem;

  border-radius: 2%;
}

.enlace a {
  display: inline-block;
  position: relative;
  width: 15.78vw;
  height: 11.88rem;
}

.contenedor-article p {
  text-align: justify;
}

.contenedor-article img {
  width: 16vw;
  height: 12rem;
  margin: -0.1rem;
  margin-bottom: 0.4rem;

  border-radius: 2% 2% 0 0;
}

.contenedor-article h2 {
  text-align: center;
  height: 1.8rem;
  padding: 0.5rem;
  background-color: rgb(34, 33, 33);
}

.contenedor-article:nth-child(1),
.contenedor-article:nth-child(2),
.contenedor-article:nth-child(3) {
  color: white;
  border: black solid thick;
}

.contenedor-article:nth-child(1) {
  left: 8vw;
  background-color: mediumorchid;
}

.contenedor-article:nth-child(2) {
  left: 19vw;
  background-color: mediumslateblue;
}

.contenedor-article:nth-child(3) {
  left: 30vw;
  background-color: mediumseagreen;
}

/*ESTILOS COMPLEMENTARIOS*/

a:hover {
  background-color: white;
  color: rgb(34, 33, 33);
  opacity: 80%;
}

a {
  text-decoration: none;
}

.contenedor-article h2:hover {
  color: darkorange;
}
